<nav class="navbar navbar-expand-lg navbar-dark bg-light">
  <div class="container-fluid">
    <%= link_to "ALPHA BLOGS", root_path, class: "navbar-brand", id: "logo"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Bloggers", users_path, class: "nav-link" %>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Blogs</a>
             <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <% if logged_in? %>
                  <%= link_to "Create new blog", new_article_path, class: "dropdown-item" %>
                <% end %>
                <%= link_to "View Blogs", articles_path, class: "dropdown-item" %>
                <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>

      </ul>

      <% if logged_in? %>

        <div class="dropdown">
          <a class="btn btn-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Profile [<%= current_user.username%>]
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <%= link_to "View your profile", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Edit your profile", edit_user_path(current_user), class: "dropdown-item" %>
            <%= button_to "Delete Profile", user_path(current_user), class: "dropdown-item text-danger", method: :delete, form: { data: { turbo_confirm: 'Are you sure?' }} %>
          </ul>
        </div>

       <span class="nav-item text-decoration-none ">
                <%= button_to 'Logout', logout_path, class: "nav-link " , method: :delete %>
        </span>
        <% else %>
        <span class="nav-item">
              <%= link_to 'Sign up', signup_path, class: "nav-link"%>
        </span>
        <span class="nav-item">
              <%= link_to 'Log in', login_path, class: "nav-link"%>
        </span>
      <% end %>

      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

